# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml